!!! 5
html
	head
		meta(charset="utf-8")
		title GyroDesign
		link(rel="stylesheet", type="text/css", href="stylesheets/style.css")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
		script(type="text/javascript", src="javascripts/app.js")
	body
		#x
		#y
		#t1.tile 加
		#t2.tile 齢
		#t3.tile を
		#t4.tile 感
		#t5.tile じ
		#t6.tile る